html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #c0d4e3;
    box-shadow: 0 4px 2px #888888;
}
header h1, header h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 40pt;
}
header h2 a {
    color: black;
    text-decoration: none;
}

header p {
    margin: 0;
    padding: 0;
    font-style: italic;
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: #c0d4e3 solid 1px;
}

th {
    text-align: left;
}

thead {
    background-color: #c0d4e3;
}

th, td {
    padding: 3px;
}

tr:nth-of-type(even) {
    background-color: #eaeffe;
}

a.github-link {
    display: block;
    margin: 2px 0 15px 0;
    font-size: smaller;
}

footer {
    margin: 100px auto 50px auto;
    max-width: 1000px;
    padding-top: 30px;
    border-top: #c0d4e3 solid 1px;
    font-size: x-small;
    font-style: italic;
    text-align: center;

}