{% extends "template.html" %}
{% block head %}
<style>
    main > h1, footer .homeLink {
        display: none;
    }

    header {
        text-align: center;
        margin: 30px;
        padding: 0;
        background-color: #FFFF;
    }

    header img {
        border: 0;
        width: 100px;
        height: 100px;
    }

    header p {
        margin: 10px 0;
        padding: 0;
        color: Black;
        font-size: larger;
    }
</style>
{% endblock %}
{% block main %}

<header>
    <img src="/logos/home-logo.png" alt="Logo" title="">
    <p>Mu Server: Java's modern web server</p>
</header>

<h2>Quick Start</h2>

<p>Add one dependency...</p>

{% include "incs/maven.html" %}

<p>...and say hello:</p>

<pre><code class="language-java">import io.muserver.*;
public class Hello {
    public static void main(String[] args) {
        MuServer server = MuServerBuilder.httpServer()
            .addHandler(Method.GET, "/", (request, response, pathParams) -> {
                response.write("Hello, world");
            })
            .start();
        System.out.println("Started server at " + server.uri());
    }
}</code></pre>


<h2>Features</h2>

<ul>
    <li>Flexible <a href="/routes">routing and filtering with request handlers</a></li>
    <li>A clean model giving simple access to <a href="/model">request and response objects</a></li>
    <li><a href="/http2">HTTP/2 Support</a></li>
    <li>Convenient <a href="/resources">static resource</a> handling, with GZIP, range requests, and custom
        response headers based on file type.
    </li>
    <li>Extremely simple <a href="/https">HTTPS configuration</a> including <a href="/letsencrypt">Let's Encrypt
        integration</a></li>
    <li><a href="/sse">Server Sent Events</a></li>
    <li><a href="/websockets">Web Sockets</a></li>
    <li><a href="/jaxrs">JAX-RS Rest support</a> with no extra dependencies, including:
        <ul>
            <li>Automatic <a href="/jaxrs#documentation">documentation</a> for rest services</li>
            <li>Simple <a href="/jaxrs#cors">CORS support</a> for JAX-RS</li>
        </ul>
    </li>
    <li><a href="/uploads">File Upload</a> support</li>
    <li>Optional <a href="/async">async handling</a></li>
    <li><a href="/contexts">Path contexts</a></li>
    <li>A <a href="/murp">Reverse Proxy</a> handler</li>
    <li><a href="/statistics">Statistics</a></li>
    <li><a href="/mutils">Various useful utilities</a></li>
</ul>


{% endblock %}