{% extends "template.html" %}
{% block main %}

In the most simple case, you simply want to serve the contents of a directory:

{{ source("ResourceHandling.java") | raw }}

Or if you have bundled some static data into an uber jar, you'll want to serve it from the classpath:

<pre><code class="language-java">ResourceHandlerBuilder.classpathHandler("/web")</code></pre>

Or perhaps you want to serve from a local path during development, but from the classpath when it is available. In this
case, the following builder can be used:

<pre><code class="language-java">ResourceHandlerBuilder.fileOrClasspath("src/main/resources/web", "/web")</code></pre>

This means: "if there is a directory called <code>src/main/resources/web</code> then use that, otherwise load from
<code>/web</code> on the classpath".

{% endblock %}